@page
@model StudentManagement_RazorPage.Pages.SelectionModePageModel
@{
    ViewData["Title"] = "Selection Mode";

    int roleID = int.Parse(HttpContext.Session.GetString("RoleID"));
    if (roleID != 1 && roleID != 2)
    {
        Response.Redirect("../Permission");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f4ff;
            font-family: 'Arial', sans-serif;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .btn-custom {
            background-color: #bdc5f5;
            color: #4b4b4b;
            border: none;
            margin: 0 10px;
        }

        .btn-custom:hover {
            background-color: #a3b0f0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4" style="color: #4b4b4b;">Selection Mode</h1>
        <div class="button-container">
            <a asp-page="StudentPage/Index" class="btn btn-custom btn-lg">Work with DB</a>
            <a asp-page="WorkWithFilePage/Upload" class="btn btn-custom btn-lg">Work with Json/Xml</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
